.btn {
    cursor: pointer;
    &:disabled {
        cursor: default;
        opacity: 0.7;
    }
}

.button--login {
    @extend .btn;
    min-width: 120px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 5px -1px rgba(66, 68, 90, 1);
    color: var(--main-bg-color);
    &:disabled {
        opacity: 0.45;
        cursor: not-allowed;
        box-shadow: none;
    }
    &[type="submit"] {
        background-color: var(--ytd-searchbox-active-color);
        &:hover {
            background-color: var(--ytd-searchbox-active-color-hover);
        }
        &:focus {
            background-color: var(--ytd-searchbox-active-color-hover);
        }
    }
    &[type="reset"] {
        background-color: var(--ytd-contrast-red-color);
        &:hover {
            background-color: var(--ytd-contrast-red-color-hover);
        }
        &:focus {
            background-color: var(--ytd-contrast-red-color-hover);
        }
    }
}

.button--neutral {
    @extend .btn;
    border: none;
    background-color: initial;
    text-align: inherit;
    & svg {
        width: var(--svg-width);
    }
}

.button--alarm {
    @extend .btn;
    @extend .flexbox-row-centered;
    border: 2px solid var(--ytd-alarm-color);
    border-radius: var(--ytd-search-height);
    height: var(--ytd-search-height);
    width: var(--ytd-search-height);
}

.button {
    @extend .btn;
    border: none;
    background-color: initial;
    text-align: inherit;
    &:disabled {
        cursor: default !important;
        opacity: 0.7 !important;
    }
    &.smaller {
        &:disabled {
            cursor: default;
            opacity: 0.7;
        }
        & svg {
            width: var(--svg-smaller) !important;
            height: var(--svg-smaller) !important;
        }
    }
}

.button--search {
    @extend .btn;
    @extend .flexbox-row-centered;
    border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
    background-color: var(--ytd-searchbox-legacy-button-color);
    border-radius: 0 var(--ytd-search-height) var(--ytd-search-height) 0;
    height: 40px;
    width: 64px;
    margin: 0;
    &:disabled {
        cursor: default !important;
        opacity: 0.7 !important;
    }
    & svg {
        color: var(--yt-spec-text-primary);
        width: var(--svg-width);
    }
}
