.login {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 0 auto;
    width: 300px;
    &__invalid-credentials {
        @extend .shout-text--small;
    }
    &__welcome {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }
    &__prompt {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }

    &__form {
        display: grid;
        row-gap: 20px;
        & > * {
            margin: 0 auto;
        }
        & .field {
            @extend .flexbox-row-v-centered;
            position: relative;
            justify-content: space-between;
            width: 100%;
            flex-grow: 1;
            height: var(--ytd-search-height);
            border-radius: var(--ytd-search-height);
            caret-color: var(--yt-spec-text-primary);
            padding: 0px 4px 0px 16px;
            position: relative;
            background-color: var(--ytd-searchbox-background);
            border: 1px solid var(--ytd-searchbox-legacy-border-color);
            box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
            color: var(--ytd-searchbox-text-color);
            margin-bottom: 20px;

            &:has(:focus) {
                padding-left: 10px;
                outline: 2px ridge #0ca4f6;
                outline-offset: 1px;
                z-index: 2000;
                & .hidden {
                    display: block;
                }
            }

            &__label {
                position: absolute;
                top: -20px;
                left: 0;
                font-size: 12px;
            }
            &__input {
                border: medium none;
                padding: 0px;
                margin: 0px;
                height: auto;
                width: 100%;
                outline: none;
                color: var(--ytd-searchbox-text-color);
            }
            &__hint {
                position: absolute;
                bottom: 16px;
                right: -100px;
                color: var(--ytd-alarm-color);
                font-size: x-small;
                font-style: italic;
            }
        }
    }
}
