.player {
    flex-grow: 1;
    & > .youtube {
        aspect-ratio: 16 / 9;
    }
    p {
        margin: 10px 5px;
    }
    &--empty {
        background: url(images/nomovies.jpg) no-repeat center center;
        background-size: contain;
        height: 20vw;
        width: 20vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--no-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
