[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 2%, 26%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;

    opacity: 1;
}

[data-tooltip-right-edge] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip-right-edge]:before,
[data-tooltip-right-edge]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip-right-edge]:before {
    position: absolute;
    bottom: -50px;
    right: calc(100% - 40px);
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 2%, 26%, 0.9);
    color: #fff;
    content: attr(data-tooltip-right-edge);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Show tooltip content on hover */
[data-tooltip-right-edge]:hover:before,
[data-tooltip-right-edge]:hover:after {
    visibility: visible;

    opacity: 1;
}
