.TopBar {
    @extend .flexbox-row-v-centered;
    height: var(--ytd-topbar-height);
    padding: 0 16px;
    justify-content: space-between;

    & .button--keyboard {
        & svg {
            fill: var(--ytd-keayboard-icon-color);
        }
    }
    &__start {
        display: none;
        &.visible {
            @extend .flexbox-row-v-centered;
        }

        & .button--reverted {
            & > svg {
                width: var(--svg-larger);
            }
        }

        & .button--youtube {
            width: 110px;
            border: none;
            background: none;
            position: relative;
            margin-left: 10px;
            &::after {
                position: absolute;
                top: 0px;
                right: -10px;
                content: "PL";
                font-size: 10px;
            }
        }
    }
    &__end {
        @extend .flexbox-row-v-centered;
        justify-content: flex-end;
        min-width: 225px;
        @include mobile {
            min-width: unset;
        }
    }
    &__center {
        @extend .flexbox-row-v-centered;
        flex: 0 1 728px;
        min-width: 0px;
        justify-content: flex-end;

        & .search {
            @extend .flexbox-row-v-centered;
            justify-content: space-between;
            flex: 1;
            height: var(--ytd-search-height);
            border-radius: var(--ytd-search-height) 0 0 var(--ytd-search-height);
            caret-color: var(--yt-spec-text-primary);
            margin-left: 32px;
            padding: 0px 4px 0px 16px;
            position: relative;
            background-color: var(--ytd-searchbox-background);
            border: 1px solid var(--ytd-searchbox-legacy-border-color);
            border-right: none;
            box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
            color: var(--ytd-searchbox-text-color);

            &:has(:focus) {
                border: 1px solid var(--ytd-searchbox-active-color);
                padding-left: 10px;
                & .hidden {
                    display: block;
                }
            }
            & .search__input {
                border: medium none;
                padding: 0px;
                margin: 0px;
                height: auto;
                width: 100%;
                outline: none;
                color: var(--ytd-searchbox-text-color);
            }
        }
    }
}
